@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #15274b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    margin-top: 15%;
    text-align: center;
    background-color: #f5f0dd;
    width: 450px;
    height: 425px;
    border-radius: 13px;
}

.login-box h1{
    padding-top: 7%;
}

/* Common styles for both input fields */
.input-wrapper {
    position: relative;
    width: 320px; /* Adjust width of the input wrapper */
}

input {
    border: none;
    width: 100%;
    height: 40px;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 10px;
    padding: 6px;
    padding-right: 30px; /* Space for the icon */
}

/* Centering the icon horizontally inside the input box */
.input-wrapper i {
    position: absolute;
    left: 100%; /* Place the icon at the middle of the input */
    top: 55%; /* Vertically center it */
    transform: translate(-50%, -50%); /* Fine-tune vertical centering */
    font-size: 25px; /* Icon size */
    color: #888; /* Icon color */
}

/* Styling for the username container */
.username {
    padding-left: 50px;
    padding-bottom: 30px;
    text-align: left;
}

.username label {
    font-size: larger;
    font-weight: 600;
}

/* Styling for the password container */
.secret {
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: left;
}

.secret label {
    font-size: larger;
    font-weight: 600;
}

button{
    background-color: #15274b;
    color: #fcfcff;
    font-size: larger;
    width: 150px;
    height: 50px;
    border-radius: 20px;
    margin-top: 13px;
}

button:hover{
    cursor: pointer;
    background-color: rgba(21, 39, 75, 0.9);
}

.sign-up{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up a{
    color: #fcfcff;
    text-decoration: none;
    font-size: larger;
    transition: transform 0.3s ease;
}

.sign-up a:hover{
    transform: scale(1.1);
    color: #cfcfd9;
}